# dependencies
node_modules/

# build
dist/
build/

# testing
coverage/

# misc
.DS_Store
*.log
.env*
!.env.example

# IDE
.vscode/
.idea/

# Large assets and temporary files
TMP/
temp/
*.pdf
*.mp4
*.zip

# Vite
*.tsbuildinfo
next-env.d.ts
